{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "{% static 'food/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
    <title>Document</title>
</head>
<body>

    <nav class = "navbar navbar-dark bg-dark">

        <a class="navbar-brand" href = "#" >Food App</a>

        <div class="navbar-item">
            <a class="nav-item nav-list" href="{% url 'food:create_item' %}">Add Item</a>
            <a class="nav-item nav-list" href="#">Delete Item</a>
            <a class="nav-item nav-list" href="#">View Item</a>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}

        <div class = "alert alert-{{message.tag}}">
            {{ message }}
        </div>
            
        {% endfor %}
    {% endif %}

    {% block body %}
    {% endblock %}

</body>
</html>