@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');



* {
    box-sizing: border-box;
    background-color: rgb(219, 202, 179);
}

body {
    font-family: 'Alex Brush', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

body h1 {
    font-size: 65px;
    font-weight: 100;
    position: absolute;
    top: 5px;
    left: 100px;

}


.container {
    display: flex;
    width: 90vw;
    padding-top: 150px;

}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border: 1px solid rgb(34, 33, 33);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in-out;
}

.panel.active {
    flex: 5;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}