/* .container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    height: 100px;
    width: 150px;
}

.container-bottom {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    height: 100px;
    width: 100vw;
} */

div {
    width:150px;
    height:300px;
    float:left;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  
  button {
    border:none;
    padding:12px;
    width:100px;
    margin-left:5px;
    float:left;
  }
  
  .one {
    background:#1CD8D2; 
  }
  
  .two {
    background:#93EDC7 
  }

